{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vero</title>
    <link rel="stylesheet" type="text/css" href="css/styleActividad.css">
    <link rel="icon" type="image/png" href="{% static 'personalActivities/img/icono.png' %}" />


    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'personalActivities/img/favicon.png' %}">

    <link href="{% static 'personalActivities/css/footer.css' %}" rel="stylesheet">    
    <link href="{% static 'personalActivities/css/styleActividad.css' %}" rel="stylesheet">
    <link href="{% static 'personalActivities/css/audio.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

    <!--Animación de carga inicial-->

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    
    
    <!-- Navegación del header -->
    <div id="main-wrapper">

        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 'index' %}">
                    
                    <span class="logo-compact"><img src="{% static 'personalActivities/img/logo-text.png' %}" alt=""></span>
                    <span class="brand-title">
                        <img src="{% static 'personalActivities/img/logo-text.png' %}" alt="">
                    </span>
                </a>
            </div>
            <div class="brand-logoTwo">
                <a href="{% url 'index' %}">
                    <b class="logo-abbr"><img src="{% static 'personalActivities/img/vero-icon-white.png' %}" alt=""> </b>
                </a>              
            </div>
        </div>

        <div class="header">    
            <div class="header-content clearfix">
                
                <!--Icono de navegación lateral-->

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>


                <!--Campo de busqueda-->

                <div class="header-left">
                    <div class="input-group icons">
                        <!--Icono-->
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <!--Input-->
                        <input type="search" class="form-control" placeholder="Búsqueda" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="header-right">
                    <ul class="clearfix">

                        <!--Número de mensajes nuevos-->

                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-pill gradient-1">1</span>
                            </a>
                        </li>


                        <!--Número de notificaciones nuevas-->
                        
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">2</span>
                            </a>
                        </li>


                        <li class="icons dropdown">

                             <!--Imagen del usuario-->

                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="{% static 'personalActivities/img/user.png' %}" height="40" width="40" alt="">
                            </div>

                             <!--Opciones del usuario-->

                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href=""><i class="icon-user"></i> <span>Cuenta</span></a>
                                        </li>
                                        <hr class="my-2">
                                        <li><form action="{% url 'users:logout' %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-link" type="submit"><i class="icon-key"></i> <span>Cerrar sesión</span></button>
                                        </form></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!--Barra de navegación lateral EDITAR-->

        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'index' %}">Home 1</a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Layouts</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./layout-blank.html">Blank</a></li>
                            <li><a href="./layout-one-column.html">One Column</a></li>
                            <li><a href="./layout-two-column.html">Two column</a></li>
                            <li><a href="./layout-compact-nav.html">Compact Nav</a></li>
                            <li><a href="./layout-vertical.html">Vertical</a></li>
                            <li><a href="./layout-horizontal.html">Horizontal</a></li>
                            <li><a href="./layout-boxed.html">Boxed</a></li>
                            <li><a href="./layout-wide.html">Wide</a></li>
                            
                            
                            <li><a href="./layout-fixed-header.html">Fixed Header</a></li>
                            <li><a href="layout-fixed-sidebar.html">Fixed Sidebar</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Apps</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Email</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Inbox</a></li>
                            <li><a href="./email-read.html">Read</a></li>
                            <li><a href="./email-compose.html">Compose</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Apps</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./app-profile.html">Profile</a></li>
                            <li><a href="./app-calender.html">Calender</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-graph menu-icon"></i> <span class="nav-text">Charts</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                            <li><a href="./chart-chartjs.html">Chartjs</a></li>
                            <li><a href="./chart-chartist.html">Chartist</a></li>
                            <li><a href="./chart-sparkline.html">Sparkline</a></li>
                            <li><a href="./chart-peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">UI Components</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">UI Components</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./ui-accordion.html">Accordion</a></li>
                            <li><a href="./ui-alert.html">Alert</a></li>
                            <li><a href="./ui-badge.html">Badge</a></li>
                            <li><a href="./ui-button.html">Button</a></li>
                            <li><a href="./ui-button-group.html">Button Group</a></li>
                            <li><a href="./ui-cards.html">Cards</a></li>
                            <li><a href="./ui-carousel.html">Carousel</a></li>
                            <li><a href="./ui-dropdown.html">Dropdown</a></li>
                            <li><a href="./ui-list-group.html">List Group</a></li>
                            <li><a href="./ui-media-object.html">Media Object</a></li>
                            <li><a href="./ui-modal.html">Modal</a></li>
                            <li><a href="./ui-pagination.html">Pagination</a></li>
                            <li><a href="./ui-popover.html">Popover</a></li>
                            <li><a href="./ui-progressbar.html">Progressbar</a></li>
                            <li><a href="./ui-tab.html">Tab</a></li>
                            <li><a href="./ui-typography.html">Typography</a></li>
                        <!-- </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-layers menu-icon"></i><span class="nav-text">Components</span>
                        </a>
                        <ul aria-expanded="false"> -->
                            <li><a href="./uc-nestedable.html">Nestedable</a></li>
                            <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="./uc-toastr.html">Toastr</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
                        </a>
                    </li>
                    <li class="nav-label">Forms</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./form-basic.html">Basic Form</a></li>
                            <li><a href="./form-validation.html">Form Validation</a></li>
                            <li><a href="./form-step.html">Step Form</a></li>
                            <li><a href="./form-editor.html">Editor</a></li>
                            <li><a href="./form-picker.html">Picker</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./table-basic.html" aria-expanded="false">Basic Table</a></li>
                            <li><a href="./table-datatable.html" aria-expanded="false">Data Table</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Pages</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-lock.html">Lock Screen</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <!--Contenido del cuerpo-->

        <div class="content-body">
            
           <!-- CONTENIDO--> 
           <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Video/texto/audio--> 
                    
                    <div id="actividadPropuesta">
                        

                </div>
                
                 <!-- Video/texto/audio-->
                 <button id="BotonFinalizarSesion" type="button" class="btn mb-1 btn-primary" >Finalizar Sesión</button>
                </div>
                </div>
            </div>
            
      

     

        </div>


        
        
       
<!-- ======= Footer ======= --> 
<footer> 

    <div class="main-content"> 
 
        <div class="left box "> 
            <h2> Sobre nosotros </h2> 
            <div class="content"> 
                <p> Te presentamos a Vero, una plataforma que te brinda espacios de ocio individual y en comunidad en donde podrás permitirte descansar, divertirte, aumentar tus conocimientos o relacionarte con otras personas de forma desinteresada que tienen tus mismas aficiones, una experiencia que beneficia el descanso mental para la salud, bienestar y el disfrute de la cultura.. </p> 
                <div class="social "> 
                    <a href="https://github.com/SebastianSierrajc/devOcean-Vero "><span class="fab fa-github "></span></a> 
                </div> 
            </div> 
        </div> 
 
        <div class="center box "> 
            <h2> Contáctanos</h2> 
            <div class="content "> 
                <div class="email "> 
                    <span class="fas fa-envelope "></span> 
                    <span class="text ">michael.pinilla01@correo.usa.edu.co</span> 
                </div> 
                <div class="email "> 
                    <span class="fas fa-envelope "></span> 
                    <span class="text ">jessica.parrado01@correo.usa.edu.co</span> 
                </div> 
                <div class="email "> 
                    <span class="fas fa-envelope "></span> 
                    <span class="text ">lady.salazar01@correo.usa.edu.co</span> 
                </div> 
                <div class="email "> 
                    <span class="fas fa-envelope "></span> 
                    <span class="text ">luis.vejarano01@correo.usa.edu.co</span> 
                </div> 
            </div> 
        </div> 
 
        <div class="right box "> 
            <h2> Contáctanos</h2> 
            <div class="content "> 
                <div class="email "> 
                    <span class="fas fa-envelope "></span> 
                    <span class="text ">juan.sierra01@correo.usa.edu.co</span> 
                </div> 
                <div class="email "> 
                    <span class="fas fa-envelope "></span> 
                    <span class="text ">santiago.gutierrez01@correo.usa.edu.co</span> 
                </div> 
                <div class="email "> 
                    <span class="fas fa-envelope "></span> 
                    <span class="text ">santiago.canchila01@correo.usa.edu.co</span> 
                </div> 
            </div> 
        </div> 
    </div> 
    <div class="bottom "> 
        <center> 
            <span class="credit "> 
                Creado por <a href="# ">Canchila - Gutierrez - Parrado - Pinilla - Salazar B - Sierra - Vejarano|</a> 
            </span> 
            <span class="far fa-copyright "></span><span> 2021 Todos los Derechos Reservados. </span> 
        </center> 
    </div> 
    </footer>
       
    </div>
    
    <!--Scripts-->
    
    <script src="{% static 'PersonalActivities/js/common.min.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/custom.min.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/settings.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/gleek.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/styleSwitcher.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/peticiones.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/funciones.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/Actividad.js' %}"></script>
    <script src="{% static 'PersonalActivities/js/audio.js' %}"></script>
    
    <script>
       //window.onload = verActividadIndividual(); 
       window.onload = mostrarActividadIndividual(124,"Meditación guiada para relajar cuerpo y mente en 10 minutos.", "actividad", "Video", "https://www.youtube.com/embed/WjO_098iXOw"); 
    </script>
    

</body>

</html>