{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vero</title>z
    <link rel="icon" type="image/png" href="{% static 'personalActivities/img/icono.png' %}" />


    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'personalActivities/img/favicon.png' %}">

    <link href="{% static 'personalActivities/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'personalActivities/css/styleActividad.css' %}" rel="stylesheet">
    <link href="{% static 'personalActivities/css/audio.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>

    <!--Animación de carga inicial-->

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>


    <!-- Navegación del header -->
    <div id="main-wrapper" class="show menu-toggle">

        {% include 'home/headerMain.html' %}


        <!--Barra de navegación lateral EDITAR-->

        {% include 'home/lateralMenu.html' %}

        <!--Contenido del cuerpo-->

        <div class="content-body">

            <!-- CONTENIDO-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- Video/texto/audio-->

                        <div id="actividadPropuesta">
                            {% if activity.activityType.name == 'Lectura' %}
                            <div class="container-fluid mt-3">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card gradient-1">
                                                <div class="card-body">
                                                    <div class="d-inline-block">
                                                        <h3 class="text-white">{{activity.name}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card"> <iframe src="{{ activity.lecture }}"> </iframe> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% elif activity.activityType.name == 'Video' %}
                            <h2 id="" class="titulos">{{activity.name}}</h2>
                            <div class="contenedor-video"> <iframe src="{{activity.video_URL}}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                            {% elif activity.activityType.name == 'Audios' %}
                            <h2 class="titulos">{{activity.name}}</h2>
                            <center>
                                <video controls="" autoplay="" name="media">
                                    <source src="{{activity.video_URL}}" type="audio/mpeg">
                                </video>
                            </center>
                            {% endif %}

                        </div>

                        <!-- Video/texto/audio-->
                        <button id="BotonFinalizarSesion" type="button" class="btn mb-1 btn-primary">Finalizar
                            Sesión</button>
                    </div>
                </div>
            </div>





        </div>





        <!-- ======= Footer ======= -->
        <footer>

            <div class="main-content">

                <div class="left box ">
                    <h2> Sobre nosotros </h2>
                    <div class="content">
                        <p> Te presentamos a Vero, una plataforma que te brinda espacios de ocio individual y en
                            comunidad en donde podrás permitirte descansar, divertirte, aumentar tus conocimientos o
                            relacionarte con otras personas de forma desinteresada que tienen tus mismas aficiones, una
                            experiencia que beneficia el descanso mental para la salud, bienestar y el disfrute de la
                            cultura.. </p>
                        <div class="social ">
                            <a href="https://github.com/SebastianSierrajc/devOcean-Vero "><span
                                    class="fab fa-github "></span></a>
                        </div>
                    </div>
                </div>

                <div class="center box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">michael.pinilla01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">jessica.parrado01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">lady.salazar01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">luis.vejarano01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>

                <div class="right box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">juan.sierra01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.gutierrez01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.canchila01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom ">
                <center>
                    <span class="credit ">
                        Creado por <a href="# ">Canchila - Gutierrez - Parrado - Pinilla - Salazar B - Sierra -
                            Vejarano|</a>
                    </span>
                    <span class="far fa-copyright "></span><span> 2021 Todos los Derechos Reservados. </span>
                </center>
            </div>
        </footer>

    </div>

    <!--Scripts-->

    <script src="{% static 'personalActivities/js/common.min.js' %}"></script>
    <script src="{% static 'personalActivities/js/custom.min.js' %}"></script>
    <script src="{% static 'personalActivities/js/settings.js' %}"></script>
    <script src="{% static 'personalActivities/js/gleek.js' %}"></script>
    <script src="{% static 'personalActivities/js/styleSwitcher.js' %}"></script>
    <script src="{% static 'personalActivities/js/peticiones.js' %}"></script>
    <script src="{% static 'personalActivities/js/funciones.js' %}"></script>
    <script src="{% static 'personalActivities/js/actividad.js' %}"></script>
    <script src="{% static 'personalActivities/js/audio.js' %}"></script>

    <script>
        {% comment %} window.onload = verActividadIndividual(); {% endcomment %}
       //window.onload = mostrarActividadIndividual(124,"Meditación guiada para relajar cuerpo y mente en 10 minutos.", "actividad", "Video", "https://www.youtube.com/embed/WjO_098iXOw");
    </script>


</body>

</html>
