{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vero - Actividades individuales</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'personalActivities/img/fav-icono.png' %}">
    <link href="{% static 'personalActivities/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'personalActivities/css/footer.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>

    <!--Animación de carga inicial-->

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>


    <!-- Navegación del header -->
    <div id="main-wrapper" class="show menu-toggle">

        {% include 'home/headerMain.html' %}


        <!--Barra de navegación lateral EDITAR-->

        {% include 'home/lateralMenu.html' %}



        <!--Contenido del cuerpo-->
        {% load crispy_forms_tags %}
        {% block content %}
        {% csrf_token %}
        <div class="content-body">

            <div class="container-fluid mt-3">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="title_principal">Actividades individuales</h4>
                            <div class="container-fluid">
                                <div class="row" id="grupo_actividades">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">¿Qué tipo de recurso deseas usar?</h4>
                                    <p class="text-muted">Selecciona una de las siguientes opciones, al elegirla se te
                                        asignará una actividad de ese tipo aleatoriamente.</p>
                                    <div class="button-group">
                                        <div class="btn-toolbar">
                                            <div class="btn-group mr-2 mb-2">
                                                <input type="button" class="btn btn-primary" id="btnVideo" name="btn"
                                                    value="video" onclick="cambioRecurso('Video')">
                                                <input type="button" class="btn btn-primary" id="btnAudio" name="btn"
                                                    value="audio" onclick="cambioRecurso('Audio')">
                                                <input type="button" class="btn btn-primary" id="btnTexto" name="btn"
                                                    value="texto" onclick="cambioRecurso('texto')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">¿Cuánto tiempo tienes?</h4>
                                    <p class="text-muted">Desliza la barra para seleccionar el tiempo de duración máximo
                                        de la actividad.</p>
                                    <div class="slider-box">
                                        <div class="slider-time">
                                            <input class="input-slider" type="range" min="5" max="10" value="7"
                                                id="sliderTime">
                                        </div>
                                        <div class="value">100</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-aux">
                        <button class="btn mb-1 btn-success" id="btnFiltroActividadesInd">Enviar</button>
                    </div>

                </div>
                
            </div>
            {% include 'personalActivities/personalActivitiesList.html' %}
        </div>

        {% endblock %}



        <!-- ======= Footer ======= -->
        <footer>

            <div class="main-content">

                <div class="left box ">
                    <h2> Sobre nosotros </h2>
                    <div class="content">
                        <p> Te presentamos a Vero, una plataforma que te brinda espacios de ocio individual y en
                            comunidad en donde podrás permitirte descansar, divertirte, aumentar tus conocimientos o
                            relacionarte con otras personas de forma desinteresada que tienen tus mismas aficiones, una
                            experiencia que beneficia el descanso mental para la salud, bienestar y el disfrute de la
                            cultura.. </p>
                        <div class="social ">
                            <a href="https://github.com/SebastianSierrajc/devOcean-Vero "><span
                                    class="fab fa-github "></span></a>
                        </div>
                    </div>
                </div>

                <div class="center box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">michael.pinilla01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">jessica.parrado01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">lady.salazar01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">luis.vejarano01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>

                <div class="right box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">juan.sierra01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.gutierrez01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.canchila01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom ">
                <center>
                    <span class="credit ">
                        Creado por <a href="# ">Canchila - Gutierrez - Parrado - Pinilla - Salazar B - Sierra -
                            Vejarano|</a>
                    </span>
                    <span class="far fa-copyright "></span><span> 2021 Todos los Derechos Reservados. </span>
                </center>
            </div>
        </footer>

    </div>

    <!--Scripts-->
    <script src="{% static 'personalActivities/js/common.min.js' %}"></script>
    <script src="{% static 'personalActivities/js/custom.min.js' %}"></script>
    <script src="{% static 'personalActivities/js/settings.js' %}"></script>
    <script src="{% static 'personalActivities/js/gleek.js' %}"></script>
    <script src="{% static 'personalActivities/js/styleSwitcher.js' %}"></script>
    <script src="{% static 'personalActivities/js/peticiones.js' %}"></script>
    <script src="{% static 'personalActivities/js/funciones.js' %}"></script>
    <script src="{% static 'personalActivities/js/actividad2.js' %}"></script>
    <script src="{% static 'personalActivities/js/actividad2.js' %}"></script>


    <script>
        const slide = document.querySelector(".input-slider")
        const value = document.querySelector(".value")
        value.textContent = slide.value + " minutos";
        slide.oninput = function () {
            value.textContent = this.value + " minutos";
        }
    </script>

    <script src="{% static 'personalActivities/js/jquery.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=checkbox]').live('click', function () {
                var parent = $(this).parent().attr('id');
                $('#' + parent + ' input[type=checkbox]').removeAttr('checked');
                $(this).attr('checked', 'checked');
            });
        });
    </script>

    <script type="text/javascript">
        datos = {{ data | safe }};
        $("#grupo_actividades").empty();
        for (var i = 0; i < datos.activities.length; i++) {
            var e = 1;
            if (i % 2 == 0) {
                var e = 1;
            } else { var e = 2; }
            actividad = "";
            actividad = '<div class="col-lg-6">' +
                '<div class="card gradient-' + e + '">' +
                '<div class="card-body">' +
                '<div class="card-act" id="opc">' +
                '<h2 class="text-white">' + datos.activities[i] + '</h2>' +
                '<input class="check-act" type="checkbox" name="check" value="respiracion">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';

            $("#grupo_actividades").append(actividad);

        }


    </script>

</body>

</html>
