#menuSection {
    background-color:#eeedf8;
}
h1{
    text-align: center;
}

.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.cardMenu {
    width: 250px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

.cardMenu h2{
    font-size: 28px;
    padding-top: 10px;
}

.cardMenu h3{
    font-size: 14px;
    text-align: left;
    margin-left: 25px;
}

.cardMenu h4{
    font-size: 15px;
}

.detail img{
    width: 80%;
    margin: 10px;
    border-radius: 5px;
}

.cardMenu a:hover{
    color: black;
}

.cardMenu a{
    color: black;
}