{% extends 'home/base.html' %}
{% block title %}{{ pageTitle }}{% endblock %}
{% load static %}

{% block header %}
{% include 'home/header.html' %}
{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Una plataforma para cuidar tu salud mental</h1>
        <h2>Somos una iniciativa de ayuda para las personas con trabajos que le generen estrés laboral, agotamiento
          físico y mental debido a los cargos que ocupan.</h2>
        <div>
          <a href="{% url 'personalActivities' %}" class="btn-get-started scrollto">Crear cuenta</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="{% static 'home/img/landing1.svg' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>


</section><!-- End Hero -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li id="CarriselProcess" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li id="CarriselProcess" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li id="CarriselProcess" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="Servicios">
            <div class="Textos">
              <br><br><br><br><br><br>
              <p class="lead text-muted">Nuestro principal objetivo es permitir darte un espacio donde tomar un
                break de la vida laboral.</p>
            </div>
            <img src="{% static 'home/img/muchachaFlor.svg' %}" alt="" class="Servicio">
          </div>
        </div>
        <div class="carousel-item">
          <div class="Servicios">
            <img src="{% static 'home/img/escaleras.svg' %}" alt="" class="Servicio">
            <div class="Textos">
              <br><br><br><br><br><br>
              <p class="lead text-muted">Fortaleciendo tu crecimiento personal de forma entretenida, a cualquier
                hora y en cualquier sitio</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="Servicios">
            <div class="Textos">
              <br><br><br><br><br><br>
              <p class="lead text-muted">Con el tiempo que tú dispongas.</p>
            </div>
            <img src="{% static 'home/img/tiempo.svg' %}" alt="" class="Servicio">
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span id="deslisanteCarrusel" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span id="deslisanteCarrusel" class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>



  </div>
</section><!-- End About Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="contenedor" data-aos="fade-up">

    <div class="section-title">
      <h2>Servicios</h2>
      <p>¿Qué puedes hacer?</p>
    </div>

    <div class="Servicios">
      <img src="{% static 'home/img/servicios1.svg' %}" alt="" class="Servicio">
      <div class="Textos">
        <br><br>
        <h3><span>1</span>Actividades individuales de relajación. </h3>
        <p class="lead text-muted">Ofrecemos actividades y ejercicios que pueden acomodarse a tu tiempo y a los
          sentimientos o estado anímico en el que te encuentres para generar sistemas de relajación.</p>
        <br>
        <h3><span>2</span>Actividades grupales de relajación.</h3>
        <p class="lead text-muted"> Ofrecemos actividades y ejercicios que pueden realizarse a nivel grupal,
          generando nuevas amistades y compartiendo experiencias para el buen manejo de sentimientos y el estado
          anímico.
        </p>
        <br>
        <h3><span>3</span>Progreso en el manejo de sentimientos.</h3>
        <p class="lead text-muted">Podrás ver tu estado anímico a través del tiempo y cómo reaccionas a el, antes y
          después de los ejercicios tanto individuales como grupales propuestos.
        </p>
      </div>
    </div>
    <div class="Servicios">
      <div class="Textos">
        <br><br>
        <h3><span>4</span>Historial de actividades individuales realizadas</h3>
        <p class="lead text-muted"> Ver todas las actividades individuales en los que te postulaste para saber cómo
          es tu progreso en estos, o ver los avances y ejercicios hechos.</p>
        <br>
        <h3><span>5</span>Historial de actividades grupales realizadas</h3>
        <p class="lead text-muted"> Ver todas las actividades grupales en las que te postulaste para saber cómo es
          tu progreso en estos, las personas que participaron y ver los avances y ejercicios hechos.
        </p>
        <br>
        <h3><span>6</span>Progreso y recompensas.</h3>
        <p class="lead text-muted">Podrás revisar tus metas alcanzadas y la mejora a nivel anímico que has logrado
          presentar a través del tiempo.
        </p>
      </div>
      <img src="{% static 'home/img/servicios2.svg' %}" alt="" class="Servicio2">
    </div>

  </div>
</section><!-- End Services Section -->
{% endblock %}

{% block footer %}
{% include 'home/footer.html' %}
{% endblock %}
