{% extends 'home/base.html' %}
{% block title %}{{ pageTitle }}{% endblock %}
{%load static %}
{%load crispy_forms_tags %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{%static 'home/css/styleReg.css'%}">
{% endblock %}

{% block content %}
<img class="fondo" src="{%static 'home/img/fondo.png'%}">
<img class="fondo2" src="{%static 'home/img/fondo.png'%}">
<div class="container">
  <!-- Formulario de Registro -->
  <div class="login">
    <form method="post">
      {%csrf_token%}
      <div class="img2">
        <img src="{%static 'home/img/logo.png'%}">
      </div>
      <h2 class="subtitle">Bienvenido a Vero</h2>

      {{ form|crispy }}
      <button id="Registrar" type="submit" class="btn">Login </button>
      <a href="{% url 'register' %}" id="Devolver">Crea una cuenta</a><br>
    </form>

  </div>
  <div class="img">
    <img src="{%static 'home/img/signinfo.svg'%}">
  </div>
</div>
{% endblock %}

{% block footer %}
{% include 'home/footer.html' %}
{% endblock %}
