/*Footer*/

footer {
    color: #d9d9d9;
    padding: 10px 0 20px 0;
    bottom: 0px;
    left: 0px;
    background: #212529;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.main-content h2 {
    color: white;
}

.content p{
    font-size: 0.805rem;
}

.email span{
    font-size: 0.805rem;
}

.box h2 {
    font-size: 1.005rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: relative;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #3f36c5;
    top: -10px;
}

.left .content .p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.left .content .social a span:hover {
    background: #3f36c5;
}

.center .content .fas,
.right .content .fas {
    font-size: 1.005rem;
    background: #1a1a1a;
    height: 32px;
    width: 32px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover,
.right .content .fas:hover {
    background: #3f36c5;
}

.center .content .text,
.right .content .text {
    font-size: 0.805rem;
    font-weight: 500;
    padding-left: 10px;
}

.bottom span{
    font-size: 0.805rem;
}

footer{
    margin-top: 13%;
    margin-left: 5%;
    margin-right: 1%;
}