{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vero - Actividades individuales</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/img/fav-icono.png' %}">
    <link href="{% static 'personalActivities/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'personalActivities/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/styleMenu.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>

    <!--Animación de carga inicial-->

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>


    <!-- Navegación del header -->
    <div id="main-wrapper" class="show menu-toggle">

        {% include 'home/headerMain.html' %}


        <!--Barra de navegación lateral EDITAR-->

        {% include 'home/lateralMenu.html' %}



        <!--Contenido del cuerpo-->
        {% block content %}
        <section id="menuSection">
            <div class="card">
                <div class="card-body">
                    <h4 class="title_principal">Eventos sugeridos</h4>
                </div>
            </div>
            <div class="container">
                {% for activity in activities2 %}
                <div class="cardMenu">
                    <a href="{% url 'single_activity_selection' activity.id %}">
                        <h2>{{activity.name}}</h2>
                        <h3>{{activity.description}}</h3>
                        <div class="detail">
                            <img src="{{activity.image_URL}}" alt="imagen">
                            <h3>Durante {{activity.duration}}</h3>
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
            
            <br>
            <div class="card">
                <div class="card-body">
                    <h4 class="title_principal">Recomendación del momento</h4>
                </div>
            </div>

            <div class="container">
                {% for activity in activities2 %}
                <div class="cardMenu">
                    <a href="{% url 'single_activity_selection' activity.id %}">
                        <h2>{{activity.name}}</h2>
                        <h3>{{activity.description}}</h3>
                        <div class="detail">
                            <img src="{{activity.image_URL}}" alt="imagen">
                            <h3>Durante {{activity.duration}}</h3>
                        </div>
                    </a>
                </div>

                {% endfor %}
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="title_principal">Hacer de nuevo</h4>
                </div>
            </div>

            <div class="container">

                {% for activity in activities2 %}
                <div class="cardMenu">
                    <a href="{% url 'single_activity_selection' activity.id %}">
                        <h2>{{activity.name}}</h2>
                        <h3>{{activity.description}}</h3>
                        <div class="detail">
                            <img src="{{activity.image_URL}}" alt="imagen">
                            <h3>Durante {{activity.duration}}</h3>
                        </div>
                    </a>
                </div>

                {% endfor %}


            </div>
        </section>
        <!-- End Menu -->
        {% endblock %}


        <!-- ======= Footer ======= -->
        <footer>

            <div class="main-content">

                <div class="left box ">
                    <h2> Sobre nosotros </h2>
                    <div class="content">
                        <p> Te presentamos a Vero, una plataforma que te brinda espacios de ocio individual y en
                            comunidad en donde podrás permitirte descansar, divertirte, aumentar tus conocimientos o
                            relacionarte con otras personas de forma desinteresada que tienen tus mismas aficiones, una
                            experiencia que beneficia el descanso mental para la salud, bienestar y el disfrute de la
                            cultura.. </p>
                        <div class="social ">
                            <a href="https://github.com/SebastianSierrajc/devOcean-Vero "><span
                                    class="fab fa-github "></span></a>
                        </div>
                    </div>
                </div>

                <div class="center box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">michael.pinilla01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">jessica.parrado01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">lady.salazar01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">luis.vejarano01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>

                <div class="right box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">juan.sierra01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.gutierrez01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.canchila01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom ">
                <center>
                    <span class="credit ">
                        Creado por <a href="# ">Canchila - Gutierrez - Parrado - Pinilla - Salazar B - Sierra -
                            Vejarano|</a>
                    </span>
                    <span class="far fa-copyright "></span><span> 2021 Todos los Derechos Reservados. </span>
                </center>
            </div>
        </footer>

    </div>

    <!--Scripts-->
    <script src="{% static 'home/js/common.min.js' %}"></script>
    <script src="{% static 'home/js/custom.min.js' %}"></script>
    <script src="{% static 'home/js/settings.js' %}"></script>
    <script src="{% static 'home/js/gleek.js' %}"></script>
    <script src="{% static 'home/js/styleSwitcher.js' %}"></script>


</body>

</html>