{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vero - Actividades individuales</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'grupalActivities/img/fav-icono.png' %}">
    <link href="{% static 'grupalActivities/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'grupalActivities/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'grupalActivities/css/dropbox.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>

    <!--Animación de carga inicial-->

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>


    <!-- Navegación del header -->
    <div id="main-wrapper" class="show menu-toggle">

        {% include 'home/headerMain.html' %}


        <!--Barra de navegación lateral EDITAR-->

        {% include 'home/lateralMenu.html' %}



        <!--Contenido del cuerpo-->
        {% load crispy_forms_tags %}
        {% block content %}
        {% csrf_token %}
        <div class="content-body">

            <div class="container-fluid mt-3">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="title_principal">Actividades Grupales</h4>
                            <div class="container-fluid">
                                <div class="row" id="grupo_actividades">
                                    <form method="POST" action={% url 'recibirActividadGrupal' %}>
                                        {% csrf_token %}
                                    {% include 'grupalActivities/grupalActivitiesFilter.html' %}
                                    <div class="name_drop2">
                                        <button type="submit" class="btn mb-1 btn-success bnt-axu" id="btnFiltro">Aplicar</button>
                                    </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="container-fluid  mt-3">
                    <div class="row">
                        <div class="container-fluid">
                        {% include 'grupalActivities/grupalActivitiesList.html' %}
                    </div>
                    </div>

                </div>
                
            </div>
            
        </div>

        {% endblock %}



        <!-- ======= Footer ======= -->
        <footer>

            <div class="main-content">

                <div class="left box ">
                    <h2> Sobre nosotros </h2>
                    <div class="content">
                        <p> Te presentamos a Vero, una plataforma que te brinda espacios de ocio individual y en
                            comunidad en donde podrás permitirte descansar, divertirte, aumentar tus conocimientos o
                            relacionarte con otras personas de forma desinteresada que tienen tus mismas aficiones, una
                            experiencia que beneficia el descanso mental para la salud, bienestar y el disfrute de la
                            cultura.. </p>
                        <div class="social ">
                            <a href="https://github.com/SebastianSierrajc/devOcean-Vero "><span
                                    class="fab fa-github "></span></a>
                        </div>
                    </div>
                </div>

                <div class="center box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">michael.pinilla01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">jessica.parrado01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">lady.salazar01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">luis.vejarano01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>

                <div class="right box ">
                    <h2> Contáctanos</h2>
                    <div class="content ">
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">juan.sierra01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.gutierrez01@correo.usa.edu.co</span>
                        </div>
                        <div class="email ">
                            <span class="fas fa-envelope "></span>
                            <span class="text ">santiago.canchila01@correo.usa.edu.co</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom ">
                <center>
                    <span class="credit ">
                        Creado por <a href="# ">Canchila - Gutierrez - Parrado - Pinilla - Salazar B - Sierra -
                            Vejarano|</a>
                    </span>
                    <span class="far fa-copyright "></span><span> 2021 Todos los Derechos Reservados. </span>
                </center>
            </div>
        </footer>

    </div>

    <!--Scripts-->
    <script src="{% static 'grupalActivities/js/common.min.js' %}"></script>
    <script src="{% static 'grupalActivities/js/custom.min.js' %}"></script>
    <script src="{% static 'grupalActivities/js/settings.js' %}"></script>
    <script src="{% static 'grupalActivities/js/gleek.js' %}"></script>
    <script src="{% static 'grupalActivities/js/styleSwitcher.js' %}"></script>
    <script src="{% static 'grupalActivities/js/peticiones.js' %}"></script>
    <script src="{% static 'grupalActivities/js/funciones.js' %}"></script>
    <script src="{% static 'grupalActivities/js/actividad2.js' %}"></script>

</body>

</html>