<div>
  <div class="row">
    {% for activity in activities %}
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ activity.name }}</h5>
            <p class="card-text">{{ activity.description}}</p>
            <button id="BotonUnirse" onclick="window.location.href='../DetalleActividad'" type="button" class="btn mb-1 btn-primary">Ver Información</button>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
